#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.calculator {
  width: 260px;
  margin: auto;
  background-color: rgba(240, 248, 255, 0.385);
}

.display {
  background: rgba(0, 0, 0, 0.528);
  color: rgb(255, 255, 255);
  padding: 15px;
  margin-bottom: 7px;
  font-size: 24px;
  text-align: right;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  padding: 10px;
}

button {
  padding: 15px;
  font-size: 18px;
}

.equal {
  background: orange;
}

.clear {
  grid-column: span 2;
  background: red;
  color: white;
}

.back {
  grid-column: span 2;
}
